.polution-info-container {
  padding: 10px;
  display: flex;
  font-size: 16px;
  height: 200px;
  font-weight: bold;
}

h3 {
  margin-left: auto;
  font-size: 30px;
  text-align: end;
}

h3 span {
  font-size: 14px;
}

.aqi-number {
  background-color: rgb(67, 105, 178);
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.aqi-number span {
  font-size: 30px;
  margin-top: auto;
}

.pollution-span {
  font-size: 18px;
  font-weight: bold;
}

.aqi-desc {
  background-color: rgb(88, 137, 229);
  color: white;
  padding: 40px 20px;
}

.weather-info-container {
  margin-top: 20px;
  padding: 10px;
  color: white;
  display: flex;
}

.weather-icon {
  height: 100px;
}

.weather-info {
  margin-left: auto;
}

.weather-info p {
  margin-bottom: 10px;
}

.weather-info span {
  font-weight: bold;
  font-size: 16px;
}

.red {
  background-color: red;
  color: white;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
  color: white;
}

.green {
  background-color: lightgreen;
}

.purple {
  background-color: purple;
  color: white;
}

.marron {
  background-color: maroon;
  color: white;
}

.no-page {
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 50%;
}
