.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-tile {
  height: 150px;
  text-align: end;
  padding: 20px 30px;
  color: white;
  background-color: rgb(88, 137, 229);
}

.top-tile h1 {
  font-weight: bold;
}
