* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  display: flex;
  justify-content: center;
  background-color: rgb(43, 82, 155);
}

body {
  background-color: rgb(67, 105, 178);
  position: relative;
  min-height: 100vh;
  width: 375px;
}

.App {
  padding-bottom: 2.5rem;
}

.credits {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  color: white;
  padding: 15px;
}

.credits a {
  text-decoration: none;
  color: rgb(169, 151, 151);
}
