.tile {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  color: white;
}

.tile:hover {
  opacity: 0.8;
}

.tile-text {
  margin-top: auto;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.tile span {
  margin: 10px 0 20px 0;
}

.tile-btn {
  background-color: inherit;
  border-radius: 50%;
  padding: 2px;
  height: 25px;
  width: 25px;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.tile-btn:hover {
  background-color: rgb(19, 45, 90);
}

.tile:nth-child(4n+1) {
  background-color: rgb(88, 137, 229);
}

.tile:nth-child(4n+4) {
  background-color: rgb(88, 137, 229);
}
